.contenedor {
   display: grid; 
   gap: 10px;
   grid-template-columns: repeat(4, 1fr);
}

.testimonial:last-child {
   grid-column: 4;
   grid-row: 1;
}

.grid-span {
   grid-column: span 2;
}

.item1 {
   background-color: red;
}

.item2 {
   background-color: blue;
}
.item3 {
   background-color: green;
}
.item4 {
   background-color: yellow;
}
.item5 {
   background-color: brown;
}