@mixin grid {
    display: grid;
    align-items: center;
    justify-items: center;
}

// mas espacio entre el texto y titulo mas grande
@mixin c-index-p {
    text-align: center;
    padding: 8px;
}

@mixin c-index-h2 {
    font-size: $textoXl;
    padding-top: 8px;
}
// 

.contenedor-grid-index {
    @include grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "seccion1 seccion2"
    "seccion3 seccion4";
    .seccion1 {
        grid-area: seccion1;
    }
    .seccion2 {
        grid-area: seccion2;
    }
    .seccion3 {
        grid-area: seccion3;
    }
    .seccion4 {
        grid-area: seccion4;
    }
}

.caja-index {
    @include grid;
    background-color: map-get($map: $colores, $key: "colorDos");
    height: auto;
    margin: $textoXl;
    @include sombraCajas;
    p {
        @include c-index-p;
    }

    h2 {
        @include c-index-h2; 
        font-weight: bolder
    }
}

.caja2-index {
    @extend .caja-index;
    img {
        height: 300px;
        margin-bottom: $textoMd;
    }
}

.caja3-index {
    @extend .caja-index;
    width: fit-content;
}

.caja4-index {
    background-color: map-get($map: $colores, $key: "colorDos");
    text-align: center;
    margin: $textoXl;
    width: 70%;
    height: 380px;
    @include sombraCajas;
    p {
        @include c-index-p;
    }
    
    h2 {
        @include c-index-h2; 
        font-weight: bolder
    }
}

/* boton "MAS INFO" */
.boton-index {
    background-color: map-get($map: $colores, $key: "colorUno");
    width: 150px;
    height: 50px;
    margin-bottom: $textoMd; 
    cursor: pointer;

    &:hover {
        background: map-get($map: $colores, $key: "colorCinco");
        color: map-get($map: $colores, $key: "colorSeis");
        font-weight: $textoRelleno;
    }
}

/* Video "INTRO" */
iframe {
    padding: 0 $textoMd $textoMd $textoMd;
}

