@media (max-width : 1700px) {
    // Seccion index
    .c-img {
        height: 300px;
    }
}

@media (max-width : 1460px) {
    // Seccion index
    .caja5-index h4 {
        width: 92%; 
        // Si no pongo esto las palabras aca se salen de caja5-index entre 801px y 1460px
    }
}

@media (max-width : 1300px){
    // Global
    p {
        font-size: $textoMd;
    }

    .caja-principal h1 {
        font-size: $textoXl;
    }

    // Seccion index
    .contenedor-grid-index{
        align-items:start;
    }

    .caja4-index {
        height: 17em;
    }

    .c-img {
        height: 13em;
    }

    iframe {
        width: 400px;
    }

    // Seccion para cada temporada
    .contenedor-grid2-t1 {
        display: grid;
        grid-template-columns: 20% 80%;
    }

    .grid1-t1-izquierda {
        padding: 0;
        span {
            display: block;
            color: black;
            margin-left: $textoMd;
            letter-spacing: 0;
            font-size: $textoLg;
        }
        ul li {
            padding: 25px 0;
            padding-left: 0;
            a {
                font-size: $textoMd;
            }
        }
    }
}

@media (max-width : 1030px) {
    .cont-global {
        @include posicion-todo;
        background-color: map-get($map: $colores, $key: "colorUno");
    }

    // Seccion index
    .boton-arriba {
        opacity: 0.5;
        .arriba {
            margin-right: 0;
            bottom: 0;
        }
    }

    .caja-index {
        @include sinSombras;
        margin: 8px;
        width: 90%;
    }    

    .caja3-index {
        width: 90%;
        iframe {
            width: 100%;
        }
    }

    .caja4-index {
        width: 90%;
        height: 20em;
    }

    .c-img {
        height: 15em;
    }

    // Seccion recomendaciones
    .caja-recomendaciones {
        @include sinSombras;
    }

    // Seccion comunidad
    .caja-comunidad {
        @include sinSombras;
        padding: $textoMd;
    }

    .formulario-comunidad {
        width: 100%;
    }

    // Seccion para cada temporada
    .caja-t1 {
        @include sinSombras;
        padding: $textoMd $textoMd;
    }

    .palabra {
        font-size: 25px;
    }
}

@media (max-width: 800px) {
    // Seccion index
    .contenedor-grid-index {
        grid-template-columns: repeat(1fr);
        grid-template-areas: 
        "seccion1"
        "seccion2"
        "seccion5"
        "seccion3"
        "seccion4";
    }

    .caja-index {
        width: 95%;
        grid-column: 1 / span 2;
    }

    .caja3-index {
        width: 70%;
    }

    .caja4-index {
        width: 70%;
        grid-column: 1 / span 2;
    }

    .caja5-index {
        h3 {
            margin-left: 0;
        }

        h4 {
            font-size: 18px;
            text-align: center;
        }

        table {
            overflow-x: hidden;
        }
    }

    // Seccion para cada temporada
    .contenedor-grid2-t1 {
        display: inline-block;
    }

    .grid1-t1-izquierda {
        padding: 0;
        span {
            display: none;
            margin: 0;
        }
        ul {
            text-align: center;
            li {
                display: inline-block;
                margin-left: -2em;
                a {
                    padding: $textoMd;
              }
            } 
        }
    }
}

@media (max-width: 700px ) {
    .cont-global {
        background-color: map-get($map: $colores, $key: "colorUno");
    }

    // Seccion index
    .boton-arriba {
        display: none;
    }

    .caja-index {
        @include sinSombras;
    }

    .caja4-index {
        height: 14em;
    }


    .c-img {
        height: 10em;
    }

    iframe {
        width: 400px;
    }

    // Seccion comunidad
    .contenedor-flex-comunidad {
        flex-direction: column;
        align-items: center;
    }

    .caja-comunidad {
        @include sinSombras;
        width: 95%;
    }

    // Seccion para cada temporada
    .palabra {
        font-size: 19px;
    }
}

@media (max-width: 540px) {
    // Seccion index
    .caja5-index {
        table {
            table-layout: fixed;
            width: 100%;
            td { 
                overflow: hidden;
                text-overflow: ellipsis; 
                word-wrap: break-word;
            }
        }
    }

    // Seccion error 404
    .cont-img {
        background-position: right 45% top 0%;
    } 
}

@media (max-width: 500px) {  
    // Global
    p {
        font-size: 18px;
        line-height: $textoMd;
    }

    .cont-global {
        display: grid;
        justify-content: center;
        background-color: map-get($map: $colores, $key: "colorUno");
    }

    // Seccion index
    .caja-index {
        width: 100%;
        margin: $textoSm 0;
        p {
            padding: 0 1px;
        }
    }

    .caja2-index img {
        height: 100px;
    }

    .caja4-index {
        width: 100%;
        height: 15em;
    }

    .caja5-index h4 {
        font-size: 18px;
        text-align: center;
    }

    .c-img {
        height: 11em;
    }

    iframe {
        width: 100%;
    }

    // Seccion recomendaciones
    .caja-recomendaciones {
        @include posicion-todo;
    }

    // Seccion Comunidad
    .caja-comunidad {
        @include sinSombras;
        @include posicion-todo;
        margin: $textoSm 0;
    }

    .formulario-comunidad {
        width: 90%;
    }

    // Seccion para cada temporada
    .contenedor-grid2-t1 {
        display: inline-block;
    }

    .caja-t1 {
        @include posicion-todo;
    }

    .palabra {
        font-size: 11px;
    }
}


@media(max-width: 450px) {
    // Seccion index
    .caja5-index {
        table {
            th {
                font-size: $textoSm;
            }
            td { 
                font-size: $textoSm;
            }
        }
    }

    // Seccion recomendaciones
    .caja-recomendaciones {   
        img {
            float: none;
            margin: auto;
            display: block;
        }
        h3 {
           margin-top: -20px;
        }
    }
}

@media(max-width : 370px) {
    // Seccion index
    .caja4-index {
        width: 80%;
    }

    // Seccion comunidad
    .formulario-comunidad {
        width: 100%;
    }

    .icono {
        font-size: 50px;
    }

    // Seccion para cada temporada
    .grid1-t1-izquierda {
    ul li {
        padding: $textoSm 0;
        a {
            font-size: 13px;
            }
        }
    }
}