.capitulos-t1 {
    text-transform: uppercase;
    background-color: white;
    display: inline-block;
    border-radius: 10px;
}

.capitulos-t1 h2 {
    padding-top: 10px;
    font-weight: bolder;
    text-align: center;
}

.grid1-t1-izquierda {
    padding: 0 35px;
}

.grid1-t1-izquierda ul li {
    padding: 20px 0;
}

.grid1-t1-izquierda a {
    color: rgb(90, 90, 90);
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: lowercase;
}

.grid1-t1-izquierda a:hover {
    color: rgb(165, 165, 165);
}

.grid1-t1-izquierda form ul li {
    padding-bottom: 10px;
}


.grid1-t1-izquierda span {
    display: block;
    color: black;
    margin: 10px 0;
    letter-spacing: 1px;
    font-size: 2rem;
}

.grid1-t1-izquierda li {
    padding-left: 10px;
    list-style: none;
}

.contenedor-grid2-t1 {
    display: grid;
    align-items: center;
    justify-items: start;
    grid-template-columns: auto 1fr;
}

.contenedor-grid2-t1 .grid1-t1-izquierda {
    grid-column: 1;
}

.contenedor-grid2-t1 .grid1-t1-derecha {
    grid-column: 2;
}

.caja-t1 {
    background-color: rgba(255, 255, 255, 0.801);
    width: 90%;
    position: relative;
    left: 5%;
    margin-bottom: 2em;
    text-align: center;
    padding: 30px 0;
    margin: 30px 0;
    box-shadow: 10px 10px 13px 0px rgba(0,0,0,0.55);
    -webkit-box-shadow: 10px 10px 13px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 10px 10px 13px 0px rgba(0,0,0,0.55);
}

.caja-t1 img {
    margin-bottom: 20px;
    border: 5px solid rgb(0, 0, 0);
}

.zoom {
  transition: transform .2s;
}

.zoom:hover {
    transform: scale(1.1);
  }